@font-face {
    font-family: 'Noto Sans';
    letter-spacing: -0.05em;
    src: url('../fonts/Noto_Sans/NotoSans-Black.ttf')format('trueType');
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}
:root {
    --font-kr : 'Noto Sans KR';
    --font-kr-spacing: -0.05em;
    --font-en : 'Noto Sans';
    --font-en-sapcing: 0em;
    --font-style: normal;
    --font-color: #1D203A;

    /* body fonts */
    --font-bd1-size : 20px;
    --font-bd1-height : 29px;
 
    --font-bd2-size : 18px;
    --font-bd2-height : 26px;

    --font-bd3-size : 17px;
    --font-bd3-height : 23px;

    --font-opt-size : 12px;
    --font-opt-height : 18px;

    /* font weight는 동일하게 적용됨 */
    --font-bold-weight : 700;
    --font-mid-weight: 500;
    --font-reg-weight: 400;

    /* color */

    --color-bg : #F8F8FA;
    --color-navy-100 : #1D203A;
    --color-navy-80 : #4A4D61;
    --color-navy-60 : #616375;
    --color-navy-40 : #9DA3B3;
    --color-navy-20 : #CED1D9;
    --color-navy-10 : #E6E8EC;
    
    --color-blue-100 : #394DC0;
    --color-blue-80 : #7389DD;
    --color-blue-60 : #A2B0E9;
    --color-blue-40 : #D0D8F4;
    --color-blue-20 : #E8EBF9;
    --color-blue-10 : #F4F5FE;
    
    --color-grey-100 : #555555;
    --color-grey-80 : #777777;
    --color-grey-60 : #AAAAAA;
    --color-grey-40 : #CCCCCC;
    --color-grey-20 : #E3E3E3;
    --color-grey-10 : #EBEBEB;

    --color-graph-1 : #146ECF;
    --color-graph-2 : #0E9CFF; 
    --color-graph-3 : #0093C1;
    --color-graph-4 : #FD548E;
    --color-graph-5 : #FEAA12;
    --color-graph-6 : #EEEEEE;
    
    --color-search : #BBBBBB;
    --color-border : #888888;
    --btn-border : 8px;
    
}
body {
    display: flex; font-family: var(--font-kr) !important; 
    margin: 0; padding: 0; box-sizing: border-box;  background-color: var(--color-bg);
}
.main-wrapper {
    width: calc(100% - 160px);  float: right; padding: 30px;
    background-color: var(--color-bg);  height: 100vh; overflow-y: scroll;
}
.main-wrapper::-webkit-scrollbar {
    width: 0;
}
.ph1{
    font-family: var(--font-kr); font-weight: var(--font-bold-weight); font-size: 32px; line-height: 40px; letter-spacing: -0.05em; font-style: normal;
}
.ph2{
    font-family: var(--font-kr); font-weight: var(--font-bold-weight); font-size: 28px; line-height: 36px;
}
.ph3 {
    font-family: var(--font-kr); font-weight: var(--font-bold-weight); font-size: 24px; line-height: 35px;
}
.ph4 {
    font-family: var(--font-kr); font-weight: var(--font-bold-weight); font-size: 22px; line-height: 32px;
}
.ph5 {
    font-family: var(--font-kr); font-weight: var(--font-mid-weight); font-size: 22px; line-height: 30px;
}
input,
select {
    border: none;
}
input:focus,
select:focus {
    outline: none;
}
ul, li {
    list-style: none; padding: 0%;
}

main {
    display: flex;
    box-sizing: border-box; height: calc(100vh - 120px);
}

select{
    width: 150px; height: 30px;
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
}
select option[value=""][disabled] {
	display: none;
}
select:invalid{
	color: var(--color-grey-60);
}
/* buttons */
/* 임의 클래스명, html에 따라 변경 필요 */
.btn-blue {
    width: 84px; height: 40px; color: white; font-size: 14px; font-weight: var(--font-reg-weight);
    background-color: var(--color-blue-100); border-radius: var(--btn-border); 
    border: 1px solid #394DC0;
}      
.btn-blue:nth-child(2) {
    margin-left: 5px;
}               
.btn-blue:hover {
    background-color: var(--color-blue-80)
}
.btn-blue:focus {
    background-color: var(--color-blue-100);
}
.btn-blue:disabled {
    background-color: var(--color-blue-20);
}

.btn-grey {
    width: 68px; height: 40px; color: var(--color-navy-100);
    background-color: var(--color-grey-20); border-radius: var(--btn-border);
}
.btn-grey:hover {
    background-color: var(--color-grey-60)
}
.btn-grey:focus {
    background-color: var(--color-grey-20);
}
.btn-grey:disabled {
    background-color: var(--color-grey-10); color: var(--color-grey-60);
}

.btn-navy {
    width: 68px; height: 40px; color: white;
    background-color: var(--color-navy-100); border-radius: var(--btn-border);
}
.btn-navy:hover {
    background-color: var(--color-navy-80)
}
.btn-navy:focus {
    background-color: var(--color-navy-40);
}
.btn-navy:disabled {
    background-color: var(--color-grey-10); color: var(--color-grey-60);
}

.btn-border {
    width: 68px; height: 40px; color: var(--color-grey-100);
    background-color: white; border: var(--color-grey-20); border-radius: var(--btn-border);
}
.btn-border:hover {
    background-color: var(--color-navy-80)
}
.btn-border:focus {
    background-color: var(--color-navy-40);
}
.btn-border:disabled {
    background-color: var(--color-grey-10); color: var(--color-grey-60);
}

.btn-nonborder {
    width: 68px; height: 40px; color: var(--color-grey-80);
    background-color: white; border: white; border-radius: var(--btn-border);
}
.btn-nonborder:hover {
    background-color: var(--color-navy-100)
}
.btn-nonborder:focus {
    background-color: var(--color-navy-40);
}
.btn-nonborder:disabled {
    background-color: white; color: var(--color-grey-40);
}

/* main 상단 버튼 */
.right-btn {
    margin-bottom: auto; margin-top: auto;
}