
.group-wrapper {
     height: inherit;
}
.group-wrapper .routes {
    margin: 0; display: flex; padding-left: 6.5px; 
}
.group-wrapper .routes ul {
    margin: 0;  display: flex; padding-left: 6.5px; align-items: flex-end;
}
.group-wrapper .routes li:not(:last-child) {
    font-weight: var(--font-reg-weight); font-size: 12px; line-height: 18px;
}
.group-wrapper .routes li:last-child {
    font-weight: var(--font-bold-weight);
}
.group-wrapper .group-content {
    display: flex; height: calc(100% - 90px);
}
.group-wrapper .group-title {
    display: flex; justify-content: space-between;
}
.group-wrapper .tree-list {
    width: 270px; height: 100%; background-color: white; overflow-y: scroll; border-radius: 10px; padding: 15px 20px;
}
.group-wrapper .tree-list::-webkit-scrollbar {
     width: 3px; color: var(--color-grey-20);
}
.group-wrapper .tree-list-top > div {
    width: 230px; height: 40px;  border: 1px solid #E3E3E3; border-radius: 10px;
    display: flex; justify-content: space-between; align-items: center; padding-left: 10px;
    margin-bottom: 15px;
}
.group-wrapper .tree-list-top > div input,
.group-wrapper .tree-list-top > div select {
    height: 66%;
}
.group-wrapper .tree-list-top > div img {
    margin-right: 5px; width: 17px;
}
/* tree 라이브러리 커스텀 */
 .jstree-default .jstree-icon {
    /* background-image: url('../../resources/svgs/Icon_arrowdownx16\ \(1\).svg') !important; */
}
.jstree-open li[aria-expanded='true'] > i {
    /* background-image: url('../../resources/svgs/home2.svg') !important; */
}
.jstree-default .jstree-node, .jstree-default .jstree-icon {
    /* background-image: none !important; */
    background-repeat: no-repeat !important;    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.jstree-default .jstree-closed>.jstree-ocl {
    background-position: 4px 3px !important;
}

.tree-list-bottom > ul > li[aria-level="1"]> a{
    font-weight: var(--font-mid-weight); font-family: var(--font-kr);
    font-size: 14px;
    line-height: 26px;
    position: relative;
    left: -40px; color: var(--color-grey-100);line-height: 26px;
    letter-spacing: -0.05em; 
}
.jstree-children > li {
    padding: 2px 0px;
}
.jstree .jstree-open >.jstree-children {
    position: relative;
    left: 3px; top: 12px; font-weight: var(--font-mid-weidht);
}
.jstree .jstree-open >.jstree-children > li { 
     margin: 0;     padding-top: 4px; 
   
}
.jstree .jstree-open >.jstree-children > li[aria-level="2"] > a {
    position: relative; left: -33px; font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500; transform:rotate(-0.03deg);
    font-size: 14px;
}
.jstree .jstree-open >.jstree-children > li[aria-level="2"] > i{
    position: relative;
    left: 199px;
}
.jstree .jstree-open >.jstree-children > li[aria-level="2"],[aria-expanded="true"]{
    /* position: relative; left: -89px; */ 
    display: block; 
}

.jstree .jstree-open >.jstree-children > li[aria-level="2"] > ul{
    /* display: flex; */
    left: -20px;
    top: 0px;
    /* flex-direction: row-reverse; */
    position: relative;
    
}
.jstree-default .jstree-clicked {
    background: transparent !important; border: none !important; box-shadow: none !important;
}
.jstree .jstree-open >.jstree-children > li[aria-level="3"] {
    display: block;
}
.jstree .jstree-open >.jstree-children > li[aria-level="3"] > i {
    position: relative; right: -198px;
}
.jstree .jstree-open >.jstree-children > li[aria-level="3"] > a {
    font-weight: var(--font-mid-weidht); font-size: 13px; transform:rotate(-0.03deg);
}
.jstree .jstree-open >.jstree-children > li[aria-level="3"] > a i{
    position: relative;
    left: 173px;
}
.jstree .jstree-open >.jstree-children > li[aria-level="3"] > ul{
    position: relative;
    left: 33px;
    font-weight: var(--font-mid-weidht);
    font-size: 12px;
    line-height: 17px; 
    letter-spacing: -0.05em;
}

.jstree .jstree-open >.jstree-children > li[aria-level="3"] > ul > i {
    position: relative;
    left: -41px;
}
.jstree-default>.jstree-container-ul >.jstree-node {
    min-height: 35px !important;  align-items: center; 
}
.jstree-default>.jstree-container-ul >.jstree-node {
    display: flex;
    justify-content: space-between !important;  left: 13px; position: relative;
    flex-direction: row-reverse !important;    height: fit-content;
}   
.jstree-default>.jstree-container-ul >.jstree-node[aria-expanded="true"]{
    display: block;     border-bottom: 2px solid #E3E3E3;
    left: -10px;     padding-bottom: 33px;
}
.jstree-default>.jstree-container-ul >.jstree-node[aria-expanded="true"]:not(:first-child) {
    padding-top: 10px;
}
.jstree-default>.jstree-container-ul > .jstree-open[aria-expanded="true"] > a{
    font-weight: var(--font-bold-weight); font-size: 14px; left: -53x; top: 6px; transform:rotate(-0.03deg);
}

/* 사원 정보 부분 */
.group-wrapper .group-user {
    width: calc(100% - 270px); padding-left:30px; overflow: scroll;
}
.group-wrapper .group-user::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  .group-wrapper .group-user::-webkit-scrollbar-thumb {
    background-color: white; background-clip: padding-box;  border: 2px solid transparent;
  } 
.group-wrapper .group-user .userlist-top {
    display: flex; justify-content: space-between;
}
.group-wrapper .group-user .userlist-top .ph4 {
    display: flex;
}
.group-wrapper .group-user .userlist-top .search{
    display: flex;
    justify-content: space-between; width: 230px;
    height: 40px; left: 1660px; top: 248px; background: #FFFFFF; border: 1px solid #E3E3E3;
    border-radius: 10px;
}
.group-wrapper .group-user .userlist-top .search input {
    border-radius: 10px;padding-left: 10px;
}
.group-wrapper .group-user .userlist-top .search img{
    width: 18px;
    margin-right: 10px;
}
.group-wrapper .group-user .userlist-bottom .user-card {
    /* min-height: 216px;  height: fit-content; */box-sizing: border-box;
    min-height: 216px; height: 216px; max-height: 216px; 
    display: table; padding: 20px; margin: 0 20px 20px 0;
    width: 325px;  background: #FFFFFF; border-radius: 10px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top{
    display: flex; justify-content: space-between; height: 75px;
}
.group-wrapper .group-user .userlist-bottom > ul{
    display: flex;
    flex-wrap: wrap;
}
.group-wrapper .group-user .userlist-bottom .user-card p {
    margin: 0;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top p {
    margin-bottom: 5px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:first-child{
    font-weight:var(--font-mid-weidht); font-size: 12px; line-height: 18px; text-align: center;
    letter-spacing: -0.05em; color: #FEAA12; width: 30px; height: 18px; background: rgba(254, 170, 18, 0.15); border-radius: 3px; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:nth-child(2){
    font-weight: var(--font-bold-weight); font-size: 16px; line-height: 23px; letter-spacing: -0.05em;
    color: #1D203A;
}

.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:last-child,
.group-wrapper .group-user .userlist-bottom .user-card .card-middle p span:first-child{
    font-weight: var(--font-reg-weight); font-size: 13px; line-height: 19px; letter-spacing: -0.05em; color: #777777;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-profile {
    margin-bottom: auto;  margin-top: auto;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-profile img {
    width: 50px; height: 50px; border-radius: 50%;
} 
.group-wrapper .group-user .userlist-bottom .user-card .card-middle p span:last-child {
    font-style: normal; font-weight: var(--font-reg-weight); font-size: 13px; line-height: 19px;  letter-spacing: -0.05em;
     color: #555555; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-middle {
    padding-top: 10px; height: 83px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom {
    display: flex; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom p {
    margin-bottom: auto; margin-top: auto; font-weight: 400;
    font-size: 13px; line-height: 18px; text-align: center;
    letter-spacing: -0.05em; color: var(--color-grey-80);     margin-right: 28px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom p img {
    margin-right: 3px;
}
/* select box */
.select-options  {
    width: 80px; height: 19px; font-family: 'Noto Sans KR'; font-style: normal;
font-weight: var(--font-mid-weight);
font-size: 13px;
line-height: 19px; letter-spacing: -0.05em; background-color: #1D203A;

/* Gray80 */

color: #777777;
}
.select-options option {
    background-color: #1D203A;
}