
.group-wrapper {
     height: inherit;
}
.group-wrapper .routes {
    margin: 0; display: flex; padding-left: 6.5px; 
}
.group-wrapper .routes ul {
    margin: 0;  display: flex; padding-left: 6.5px; align-items: flex-end;
}
.group-wrapper .routes li:not(:last-child) {
    font-weight: var(--font-reg-weight); font-size: 12px; line-height: 18px;
}
.group-wrapper .routes li:last-child {
    font-weight: var(--font-bold-weight);
}
.group-wrapper .group-content {
    display: flex; height: calc(100% - 90px);
}
.group-wrapper .group-title {
    display: flex; justify-content: space-between;
}
.group-wrapper .tree-list {
    width: 270px; height: 100%; background-color: white; overflow-y: scroll; border-radius: 10px; padding: 15px 0;
}
.group-wrapper .tree-list::-webkit-scrollbar {
     width: 3px; color: var(--color-grey-20);
}
.group-wrapper .tree-list-top > div {
    width: 230px; height: 40px;  border: 1px solid #E3E3E3; border-radius: 10px;
    display: flex; justify-content: space-between; align-items: center; padding-left: 10px;
    margin-bottom: 15px;
}
.group-wrapper .tree-list-top,
.group-wrapper .tree-list-bottom {
    width: 85%; margin-left: auto; margin-right: auto;
}
.group-wrapper .tree-list-top > div input,
.group-wrapper .tree-list-top > div select {
    height: 66%;
}
.group-wrapper .tree-list-top > div img {
    margin-right: 5px; width: 17px;
}
/* tree 라이브러리 커스텀 */
/* jstree 아이콘 커스텀 */
.group-wrapper .tree-list i.jstree-icon.jstree-ocl {
    display: none;
}

.group-wrapper .tree-list a.jstree-anchor {
    width: 100% !important;
}

.group-wrapper .tree-list i.jstree-icon.jstree-themeicon {
    display: none;
}

/* 닫힌 항목 */
.group-wrapper .tree-list .jstree-closed {
    position: relative;
}

.group-wrapper .tree-list .jstree-closed::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    background: url('../svgs/Icon_arrowDown_.svg');
    transform: translate(0, -50%);
}

/* 열린 항목 */
.group-wrapper .tree-list li[aria-expanded="true"] > a {
    position: relative;
}

.group-wrapper .tree-list li[aria-expanded="true"] > a::after  {  
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    background: url('../svgs/Icon_arrowUp_.svg');
    transform: translate(0, -50%);
}

/* 하위항목 */
.group-wrapper .tree-list li[aria-level="2"]::after {
    right: 8px !important; 
}

.group-wrapper .tree-list li[aria-level="2"] > a::after {
    right: 8px;
}

.group-wrapper .tree-list li[aria-level="3"]::after {
    right: 16px !important; 
}
.group-wrapper .tree-list li[aria-level="3"] > a::after {
    right: 16px;
}

.group-wrapper .tree-list li[aria-level="4"]::after {
    right: 24px !important; 
}

.group-wrapper .tree-list li[aria-level="4"] > a::after {
    right: 24px;
}

.group-wrapper .tree-list li[aria-level="5"]::after {
    right: 32px !important; 
}

.group-wrapper .tree-list li[aria-level="5"] > a::after {
    right: 32px;
}

.group-wrapper .tree-list li.jstree-node:not([aria-level="1"]) {
    margin-left: 12px;
}


/* jstree  */
.group-wrapper .tree-list {
    height: 100%;
    max-height: 1000px;
}
.group-wrapper .tree-list .jstree-default .jstree-clicked {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.group-wrapper .tree-list div.tree-list-bottom {
    padding-top: 15px;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots > li {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #777777;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots > li + li {
    margin-top: 12px;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots > li[aria-expanded="true"] > a{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #1D203A;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots li[aria-level="2"] {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #555555;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots li[aria-level="3"] {
    margin-top: 12px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.05em;
    /* color: #777777; */
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots li[aria-level="4"] {
    margin-top: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.05em;
    color: #777777;
}

.group-wrapper .tree-list ul.jstree-container-ul.jstree-children.jstree-no-dots li[aria-level="5"] {
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.05em;
    color: #777777;
}

.group-wrapper .tree-list li.jstree-node.jstree-open[aria-level="1"] {
    padding-bottom: 12px;;
    border-bottom: 1px solid #E3E3E3;
}

.group-wrapper .tree-list .vertical-line {
    height: 1px;
    width: 100%;
    background: #E3E3E3;
}

.group-wrapper .tree-list a.jstree-hovered {
    background: none !important;
    border: none;
}

/* 사원 정보 부분 */
.group-wrapper .group-user {
    width: calc(100% - 270px); padding-left:30px; overflow: scroll;
}
.group-wrapper .group-user::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  .group-wrapper .group-user::-webkit-scrollbar-thumb {
    width: 3px; height: 101px;  background-color: var(--color-grey-20); background-clip: padding-box;  border: 2px solid transparent;
  } 
.group-wrapper .group-user .userlist-top {
    display: flex; justify-content: space-between;
}
.group-wrapper .group-user .userlist-top .ph4 {
    display: flex;
}
.group-wrapper .group-user .userlist-top .search{
    display: flex;
    justify-content: space-between; width: 230px;
    height: 40px; left: 1660px; top: 248px; background: #FFFFFF; border: 1px solid #E3E3E3;
    border-radius: 10px;
}
.group-wrapper .group-user .userlist-top .search input {
    border-radius: 10px;padding-left: 10px;
}
.group-wrapper .group-user .userlist-top .search img{
    width: 18px;
    margin-right: 10px;
}
.group-wrapper .group-user .userlist-bottom .user-card {
    /* min-height: 216px;  height: fit-content; */box-sizing: border-box;
    min-height: 216px; height: 216px; max-height: 216px; 
    display: table; padding: 20px; margin: 0 20px 20px 0;
    width: 325px;  background: #FFFFFF; border-radius: 10px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top{
    display: flex; justify-content: space-between; height: 75px;
}
.group-wrapper .group-user .userlist-bottom > ul{
    display: flex;
    flex-wrap: wrap;
}
.group-wrapper .group-user .userlist-bottom .user-card p {
    margin: 0;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top p {
    margin-bottom: 5px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:first-child{
    font-weight:var(--font-mid-weidht); font-size: 12px; line-height: 18px; text-align: center;
    letter-spacing: -0.05em; color: #FEAA12; width: 30px; height: 18px; background: rgba(254, 170, 18, 0.15); border-radius: 3px; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:nth-child(2){
    font-weight: var(--font-bold-weight); font-size: 16px; line-height: 23px; letter-spacing: -0.05em;
    color: #1D203A;
}

.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-info p:last-child,
.group-wrapper .group-user .userlist-bottom .user-card .card-middle p span:first-child{
    font-weight: var(--font-reg-weight); font-size: 13px; line-height: 19px; letter-spacing: -0.05em; color: #777777;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-profile {
    margin-bottom: auto;  margin-top: auto;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-top .user-profile img {
    width: 50px; height: 50px; border-radius: 50%;
} 
.group-wrapper .group-user .userlist-bottom .user-card .card-middle p span:last-child {
    font-style: normal; font-weight: var(--font-reg-weight); font-size: 13px; line-height: 19px;  letter-spacing: -0.05em;
     color: #555555; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-middle {
    padding-top: 10px; height: 83px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom {
    display: flex; 
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom p {
    margin-bottom: auto; margin-top: auto; font-weight: 400;
    font-size: 13px; line-height: 18px; text-align: center;
    letter-spacing: -0.05em; color: var(--color-grey-80);     margin-right: 28px;
}
.group-wrapper .group-user .userlist-bottom .user-card .card-bottom p img {
    margin-right: 3px;
}
/* select box */
.select-options  {
    width: 80px; height: 19px; font-family: 'Noto Sans KR'; font-style: normal;
font-weight: var(--font-mid-weight);
font-size: 13px;
line-height: 19px; letter-spacing: -0.05em; background-color: #1D203A;

/* Gray80 */

color: #777777;
}
.select-options option {
    background-color: #1D203A;
}